h3 {
    margin-top: 100px ;
    margin-bottom: 100px ;
}

#submit {
    margin-top: 20px ;
    margin-bottom: 20px ;
}

#sort {
    display: none ;
    margin-top: 20px ;
    margin-bottom: 20px ;
}

 input {
   margin-left: 10px ;  
   margin-bottom: 10px ;
 }